<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}EAT MEE!{{else}}REGURGITATE!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">BURN WITH FIRE!</button>
</li>
